# Tarea 2: Manejo de datos con pandas

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://pandas.pydata.org/_static/pandas_logo.png" width="300px" height="300px" />

Para resolver la tarea, por favor cambiar el nombre del archivo a "Tarea2_ApellidoNombre.ipynb", sin acentos ni letras ñ (ejemplo: en mi caso, el archivo se llamaría "Tarea2_JimenezEsteban.ipynb"). Luego de haber cambiado el nombre, resolver cada uno de los puntos en los espacios provistos.

Referencias:
- https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f
- https://github.com/Ventsislav-Yordanov/Data-Science-Exercises
___

# Descripción de los datos

En los siguientes ejercicios usarás los datos del archivo "tips.csv", que contiene información de propinas.

Variables en las columnas:

* **total_bill**: **monto de la cuenta (dólares)**
* **tip**: **monto de la propina (dólares)**
* **sex**: **\[Female, Male\], género de quien paga la cuenta**
* **smoker**: **\[No, Yes\], si el grupo incluye o no fumadores**
* **day**: **\['Sun', 'Sat', 'Thur', 'Fri'\], día de la semana**
* **time**: **\[Dinner, Lunch\], momento aproximado del día**
* **size**: **número de personas en el grupo**

In [1]:
# Importar pandas
import pandas as pd

Importar los datos guardados en el archivo "tips.csv" como un DataFrame de pandas, cuyo nombre sea `tips_data`.

Luego utilizar el método `head()` de DataFrames para ver las primeras 5 filas de los datos.

In [2]:
# Importar los datos
tips_data = pd.read_csv("tips.csv")
# Utilizar el método head() para ver las primeras 5 filas de los datos
tips_data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

¿Cuántas filas y columnas tiene tu DataFrame? (atributo `shape`)

In [3]:
tips_data.shape

(244, 7)

# Análisis exploratorio de datos

Esta parte ya está resuelta, solo corre las celdas para ver los resultados.

In [4]:
def print_min_max(column):
    print("The min value for the column \"" + column + "\" is:",  tips_data[column].min())
    print("The max value for the column \"" + column + "\" is:",  tips_data[column].max())

In [5]:
print_min_max("tip")
print()
print_min_max("total_bill")
print()
print_min_max("size")

The min value for the column "tip" is: 1.0
The max value for the column "tip" is: 10.0

The min value for the column "total_bill" is: 3.07
The max value for the column "total_bill" is: 50.81

The min value for the column "size" is: 1
The max value for the column "size" is: 6

# Filtrado de datos

Ya vieron para que sirve el método `head()`: para imprimir solo las primeras 5 filas de su resultado. Es decir, sirve para no desplegar DataFrames muy largos. Asegúrese de utilizar este método si no quiere que se impriman DataFrames largos.

## 1

Obtener todos los registros en los cuales **la propina es igual a 10**.

In [8]:
# Solución aquí
tip10 = (tips_data[tips_data['tip'] == 10])
tip10

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

## 2

Obtener todos los registros donde **el número de personas (size) es igual a 5 o 6**.

In [15]:
# Solución aquí
size5_6 = (tips_data[(tips_data['size'] == 5) | (tips_data['size'] == 6)])
size5_6

     total_bill   tip     sex smoker   day    time  size
125       29.80  4.20  Female     No  Thur   Lunch     6
141       34.30  6.70    Male     No  Thur   Lunch     6
142       41.19  5.00    Male     No  Thur   Lunch     5
143       27.05  5.00  Female     No  Thur   Lunch     6
155       29.85  5.14  Female     No   Sun  Dinner     5
156       48.17  5.00    Male     No   Sun  Dinner     6
185       20.69  5.00    Male     No   Sun  Dinner     5
187       30.46  2.00    Male    Yes   Sun  Dinner     5
216       28.15  3.00    Male    Yes   Sat  Dinner     5

## 3

Obtener todos los registros donde **el grupo contenga fumadores**.

In [14]:
# Solución aquí
fumadores = (tips_data[tips_data['smoker'] == 'Yes']).head(15)
fumadores

    total_bill   tip     sex smoker   day    time  size
56       38.01  3.00    Male    Yes   Sat  Dinner     4
58       11.24  1.76    Male    Yes   Sat  Dinner     2
60       20.29  3.21    Male    Yes   Sat  Dinner     2
61       13.81  2.00    Male    Yes   Sat  Dinner     2
62       11.02  1.98    Male    Yes   Sat  Dinner     2
63       18.29  3.76    Male    Yes   Sat  Dinner     4
67        3.07  1.00  Female    Yes   Sat  Dinner     1
69       15.01  2.09    Male    Yes   Sat  Dinner     2
72       26.86  3.14  Female    Yes   Sat  Dinner     2
73       25.28  5.00  Female    Yes   Sat  Dinner     2
76       17.92  3.08    Male    Yes   Sat  Dinner     2
80       19.44  3.00    Male    Yes  Thur   Lunch     2
83       32.68  5.00    Male    Yes  Thur   Lunch     2
90       28.97  3.00    Male    Yes   Fri  Dinner     2
92        5.75  1.00  Female    Yes   Fri  Dinner     2

## 4

Obtener todos los registros donde **el grupo no contenga fumadores**.

In [13]:
# Solución aquí
no_fumadores = (tips_data[tips_data['smoker'] == 'No']).head(15)
no_fumadores

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2

## 5

Obtener todos los registros donde **la propina sea igual a 5, 7 o 10**

In [17]:
# Solución aquí
tip5_7_10 = (tips_data[(tips_data['tip'] == 5) |
            (tips_data['tip'] == 7)|
            (tips_data['tip'] == 10)])
tip5_7_10

     total_bill   tip     sex smoker   day    time  size
11        35.26   5.0  Female     No   Sun  Dinner     4
39        31.27   5.0    Male     No   Sat  Dinner     3
46        22.23   5.0    Male     No   Sun  Dinner     2
73        25.28   5.0  Female    Yes   Sat  Dinner     2
83        32.68   5.0    Male    Yes  Thur   Lunch     2
142       41.19   5.0    Male     No  Thur   Lunch     5
143       27.05   5.0  Female     No  Thur   Lunch     6
156       48.17   5.0    Male     No   Sun  Dinner     6
170       50.81  10.0    Male    Yes   Sat  Dinner     3
185       20.69   5.0    Male     No   Sun  Dinner     5
197       43.11   5.0  Female    Yes  Thur   Lunch     4

## 6

Obtenga todos los registros donde **el día sea Sábado o Domingo**.

In [18]:
# Solución aquí
Sat_Sun = (tips_data[(tips_data['day'] == 'Sat') | (tips_data['day'] == 'Sun')])
Sat_Sun

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
6          8.77  2.00    Male     No  Sun  Dinner     2
7         26.88  3.12    Male     No  Sun  Dinner     4
8         15.04  1.96    Male     No  Sun  Dinner     2
9         14.78  3.23    Male     No  Sun  Dinner     2
10        10.27  1.71    Male     No  Sun  Dinner     2
11        35.26  5.00  Female     No  Sun  Dinner     4
12        15.42  1.57    Male     No  Sun  Dinner     2
13        18.43  3.00    Male     No  Sun  Dinner     4
14        14.83  3.02  Female     No  Sun  Dinner     2
15        21.58  3.92    Male     No  Sun  Dinner     2
16        10.33  1.67  Female     No  Sun  Dinner     3
17        16.29  3.71    Male     No  Sun  Dinner     3
18        16.97  3.50  Female     No  Sun  Dinner     3
19        20.65  3.35    Male     No  Sat  Dinner     3
20        17.92  4.08    Male     No  Sat  Dinner     2
21        20.29  2.75  Female     No  Sat  Dinner     2
22        15.77  2.23  Female     No  Sat  Dinner     2
23        39.42  7.58    Male     No  Sat  Dinner     4
24        19.82  3.18    Male     No  Sat  Dinner     2
25        17.81  2.34    Male     No  Sat  Dinner     4
26        13.37  2.00    Male     No  Sat  Dinner     2
27        12.69  2.00    Male     No  Sat  Dinner     2
28        21.70  4.30    Male     No  Sat  Dinner     2
29        19.65  3.00  Female     No  Sat  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
206       26.59  3.41    Male    Yes  Sat  Dinner     3
207       38.73  3.00    Male    Yes  Sat  Dinner     4
208       24.27  2.03    Male    Yes  Sat  Dinner     2
209       12.76  2.23  Female    Yes  Sat  Dinner     2
210       30.06  2.00    Male    Yes  Sat  Dinner     3
211       25.89  5.16    Male    Yes  Sat  Dinner     4
212       48.33  9.00    Male     No  Sat  Dinner     4
213       13.27  2.50  Female    Yes  Sat  Dinner     2
214       28.17  6.50  Female    Yes  Sat  Dinner     3
215       12.90  1.10  Female    Yes  Sat  Dinner     2
216       28.15  3.00    Male    Yes  Sat  Dinner     5
217       11.59  1.50    Male    Yes  Sat  Dinner     2
218        7.74  1.44    Male    Yes  Sat  Dinner     2
219       30.14  3.09  Female    Yes  Sat  Dinner     4
227       20.45  3.00    Male     No  Sat  Dinner     4
228       13.28  2.72    Male     No  Sat  Dinner     2
229       22.12  2.88  Female    Yes  Sat  Dinner     2
230       24.01  2.00    Male    Yes  Sat  Dinner     4
231       15.69  3.00    Male    Yes  Sat  Dinner     3
232       11.61  3.39    Male     No  Sat  Dinner     2
233       10.77  1.47    Male     No  Sat  Dinner     2
234       15.53  3.00    Male    Yes  Sat  Dinner     2
235       10.07  1.25    Male     No  Sat  Dinner     2
236       12.60  1.00    Male    Yes  Sat  Dinner     2
237       32.83  1.17    Male    Yes  Sat  Dinner     2
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]

## 7

Obtenga todos los registros donde **el número de personas sea mayor a 4** y **quien pague la cuenta sea una mujer**.

In [19]:
# Solución aquí
fem4 = (tips_data[(tips_data['sex'] == 'Female') & (tips_data['size'] > 4)])
fem4

     total_bill   tip     sex smoker   day    time  size
125       29.80  4.20  Female     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6
155       29.85  5.14  Female     No   Sun  Dinner     5

## 8

Obtenga todos los registros donde **la cuenta total sea mayor a 40** y **la propina sea mayor que 5**

In [20]:
# Solución aquí
t40s5 = (tips_data[(tips_data['total_bill'] > 40) & (tips_data['tip'] > 5)])
t40s5

     total_bill    tip   sex smoker  day    time  size
59        48.27   6.73  Male     No  Sat  Dinner     4
170       50.81  10.00  Male    Yes  Sat  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4

## 9

Obtener todos los registros donde el **número de personas sea mayor que 4** o **el momento de asistencia sea una cena**

In [21]:
# Solución aquí
dinner4 = (tips_data[(tips_data['size'] > 4) | (tips_data['time'] == 'Dinner')])
dinner4

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[180 rows x 7 columns]

## 10

Obtener todos los registros donde **no hayan fumadores**, la **cuenta total sea mayor a 30**, y **el día sea jueves o viernes**.

In [22]:
# Solución aquí
DF10 = (tips_data[(tips_data['smoker'] == 'No')  & (tips_data['total_bill'] > 30) &
       (tips_data['day'] == 'Thur')   | (tips_data['smoker'] == 'No')  &
       (tips_data['total_bill'] > 30) & (tips_data['day'] == 'Fri')])
DF10

     total_bill   tip     sex smoker   day   time  size
85        34.83  5.17  Female     No  Thur  Lunch     4
141       34.30  6.70    Male     No  Thur  Lunch     6
142       41.19  5.00    Male     No  Thur  Lunch     5

## 11

Obtener todos los registros donde **el día sea viernes o sábado**, el **momento de asistencia sea para la comida**, y el **número de personas sea menor a 4**.

In [23]:
# Solución aquí
DF11 = (tips_data[(tips_data['size'] < 4) & (tips_data['time'] == 'Lunch') &
       (tips_data['day'] == 'Fri')        | (tips_data['size'] < 4)        &
       (tips_data['time'] == 'Lunch')     & (tips_data['day'] == 'Sat')])
DF11

     total_bill   tip     sex smoker  day   time  size
220       12.16  2.20    Male    Yes  Fri  Lunch     2
221       13.42  3.48  Female    Yes  Fri  Lunch     2
222        8.58  1.92    Male    Yes  Fri  Lunch     1
223       15.98  3.00  Female     No  Fri  Lunch     3
224       13.42  1.58    Male    Yes  Fri  Lunch     2
225       16.27  2.50  Female    Yes  Fri  Lunch     2
226       10.09  2.00  Female    Yes  Fri  Lunch     2

## 12

Obtener todos los registros donde

el **día sea viernes**, el **número de personas sea menor a 3**, y **quien pague la cuenta sea una mujer**

o

el **día sea domingo**, el **número de personas sea mayor a 4**, y **quien pague la cuenta sea un hombre**.

In [24]:
# Solución aquí
DF12 = (tips_data[(tips_data['size'] < 3) & (tips_data['sex'] == 'Female') &
       (tips_data['day'] == 'Fri')        | (tips_data['size'] > 4)        &
       (tips_data['sex'] == 'Male')       & (tips_data['day'] == 'Sun')])
DF12

     total_bill   tip     sex smoker  day    time  size
92         5.75  1.00  Female    Yes  Fri  Dinner     2
93        16.32  4.30  Female    Yes  Fri  Dinner     2
94        22.75  3.25  Female     No  Fri  Dinner     2
100       11.35  2.50  Female    Yes  Fri  Dinner     2
101       15.38  3.00  Female    Yes  Fri  Dinner     2
156       48.17  5.00    Male     No  Sun  Dinner     6
185       20.69  5.00    Male     No  Sun  Dinner     5
187       30.46  2.00    Male    Yes  Sun  Dinner     5
221       13.42  3.48  Female    Yes  Fri   Lunch     2
225       16.27  2.50  Female    Yes  Fri   Lunch     2
226       10.09  2.00  Female    Yes  Fri   Lunch     2

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Esteban Jiménez Rodríguez.
</footer>